.locationCard-1{
  display: flex;
  height: 250px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0, .4);
  width: auto;
  margin: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.locationCard-2{
  display: flex;
  height: 250px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0, .4);
  width: auto;
  margin: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.locationCard-3{
  display: flex;
  height: 250px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0, .4);
  width: auto;
  margin: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.locationCard-4{
  display: flex;
  height: 250px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0, .4);
  width: auto;
  margin: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.locationCard-1:hover,
.locationCard-2:hover,
.locationCard-3:hover,
.locationCard-4:hover{
  border: 1px solid black;

}
