.locationCard-1{
  color: black;
  display: flex;
  height: 250px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0, .4);
  width: auto;
  margin: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 20px;
}
.locationCard-2{
  color:black;
  display: flex;
  height: 250px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0, .4);
  width: auto;
  margin: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-size: cover;
  margin-bottom: 20px;
}
.locationCard-3{
  color:black;
  display: flex;
  height: 250px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0, .4);
  width: auto;
  margin: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-size: cover;
  margin-bottom: 20px;
}
.locationCard-4{
  color:black;
  display: flex;
  height: 250px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0, .4);
  width: auto;
  margin: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-size: cover;
}

.locationCard-1:hover,
.locationCard-2:hover,
.locationCard-3:hover,
.locationCard-4:hover{
  border: 1px solid black;

}

.destinationImages{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top: 1px solid rgba(0,0,0, .4) ;
}

.destinationName{
  height: 100%;
  width: 100%;
}



