.listing__details-container{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  height: 25em;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0, .4);
  width: 99%;
  margin: 5px;

}

.reviews_container{
display: flex;
flex-direction: column;
margin: 10px;

}
.images{
height:100%;

}

.review_cards{
  display: flex;
  color:black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 15em;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0, .4);
  width: auto;
  margin: 5px;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f0f0f0;
}

.listingPicture{
  width:10em  ;
  height: 15em;
  object-fit: contain
}

.leaveAReview{
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
  margin-bottom: 0;
}

.delete_review--button{
  display: flex;
  font-size: 18px;
  background-color: red;
  opacity: 0.8;
  color: white;
  border: none;
  margin-top: 3rem;
  font-weight: bold;
  align-self: flex-end;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  border-radius: 0.4rem;
  transition: opacity 0.3s;

}

.delete_review--button:hover{
  opacity: 1;
  cursor: pointer;
}
