.index__dashboard{
  display: flex;
  height: fit-content;
  width: 100%;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  justify-content: center;
}

.headings{
  color: #04009a;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin-left: 5px;
  margin-right: 5px;
}

.profile_info{
  display: flex;
  margin: 10px 10px 20px 10px;
  padding: 0 0 35px 0;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  background-color: #FAF9F6;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
  width: 500px;
  justify-content: center;
  border-radius: 5px;
}

.profile_content{
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 1000px;

}
.userInfo{
 margin-top: 15rem;
}

.all__listings{
    background-color:  #FAF9F6;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
.about{
  height: 100%;
  padding-bottom: 5px;
  background-color:  #FAF9F6;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
  border-radius: 5px;
}
.dashboardLocationCards{
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  margin: 30px 30px 30px 30px;
  font-weight: 900;
}

.dashboard__listingCard{
  margin: 30px 30px 40px 30px;
  box-sizing: border-box;
border-bottom: .5px solid grey;
}

.dashboard__listingCard button{
  margin: 0px 10px 5px;
}

.seeReviewsButton{
  font-size: 18px;
  background-color: #04009a;
  opacity: 0.8;
  color: white;
  border: none;
  font-weight: bold;
  margin-top: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  border-radius: 0.4rem;
  transition: opacity 0.3s;
}

.deleteReviewsButton{
  font-size: 18px;
  background-color: red;
  opacity: 0.8;
  color: white;
  border: none;
  font-weight: bold;
  margin-top: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  border-radius: 0.4rem;
  transition: opacity 0.3s;
}

.deleteReviewsButton:hover{
  opacity: 1;
  cursor: pointer;
}

.seeReviewsButton:hover{
  opacity: 1;
  cursor: pointer;
}
.profilePic{
  border-radius: 50%;

}

.profileListingPic{
  border-radius: 50%;
}

.name_and--email{
  display: flex;
  flex-direction: column;
  align-items: center;
}
