.footer-container {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:white;
  color: white;
  text-align: center;
}

.footer-icons img {
  height: 30px;
  text-align: center;
  padding: 2em;
  align-self: center;
}
