.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:white;
  color: white;
  text-align: center;
}

.footer-container .footer-description {
  font-size: 16px;
  text-align: center;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
}
.footer-icons img {
  height: 3em;
  text-align: center;
  padding: 2em;
  align-self: center;
}
