.nav-bar{
  display: flex;
  box-sizing: border-box;
  border: 2px solid black;
  box-shadow: black;
  justify-content:flex-end;
  height: 50px;
  background-color: lightblue;
  box-shadow: 5px 5px 5px  rgb(0,0,0, .2);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-links{
  color:black;
  padding: 10px;
}
